body {
    background-color: #e3e5e6;
    direction: rtl;    
}

h1 {
    color: red;
}

.container-1 {
    display: flex;
    flex-direction: column;
}

.card {
    box-shadow: 0 8px 6px -6px black;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}

.mytext {
    
}

.mytitle {

}

.myimage {

}

.myscroller {
    /* overflow: scroll; */
}